body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  padding: 0px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Header */
header {
  padding: 0px;
  height: 72px;
  width: 100%;
  flex-shrink: 0;
}
.header-container {
  padding-left: 156px;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Studio Logo */
.header-logo-container {
  padding-left: 0px;
}
.header-logo-style {
  margin-top: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-color {
  color: #2e2f42;
}
/* Header menu */
.header-menu-container {
  padding-top: 0px;
  padding-left: 76px;
  width: 261px;
  display: flex;
  flex-direction: row;
}
.header-menu-item-1 {
  padding-left: 0px;
}

.header-menu-item-2,
.header-menu-item-3 {
  padding-left: 40px;
}

.header-menu-item-style {
  margin-top: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2e2f42;
}

/* Contacts */
.header-contacts-container {
  padding-left: 332px;
  display: flex;
  flex-direction: row;
}
/* Email address */
.header-contacts-email {
  padding-top: 0px;
  margin-left: 0px;
  width: 153px;
}
.header-contacts-email-style,
.header-contacts-phone-style {
  padding-top: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}
.header-contacts-phohe {
  padding-top: 0px;
  padding-left: 40px;
}

/* Main content */
.main-container {
  background-color: #ffffff;
  width: 1440px;
  padding: 0px;
  width: 100%;
}

/* About firm */
.about-firm-container {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
  flex-shrink: 0;
  margin: 0px;
}

.firm-title {
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  width: 496px;
  height: 120px;
  margin: 0px;
  padding: 188px 472px 48px 472px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 0px 636px 0px autto;
  width: 172px;
  height: 56px;
}
.button-style {
  margin: 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  padding: 16px 28px 16px 28px;
  display: inline-flex;
  text-align: center;
  align-items: flex-start;
  gap: 10px;
  background: #4d5ae5;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Section 1: Features */
.section1-container {
  width: 100%;
  height: 344px;
  margin: 0;
}
.features {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 120px 156px 120px 156px;
}
.feature-contaniner {
  width: 288px;
  height: 104px;
  margin: 0px;
}
.features-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0px 0px 8px 0px;
}
.features-content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 0px;
}

/* Section 2: What Are We Doing */
.section2-container {
  width: 100%;
  height: 532px;
  margin: 0;
}

.functions-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0px 0px 72px 0px;
}

.functions-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 300px;
  margin: 0;
  padding: 0px 156px 0px 156px;
}
.function {
  margin: 0px;
  width: 388px;
  height: 300px;
}
.function-photo {
  margin: 0px;
  width: 360px;
  height: 300px;
}

/* Section 3:Team container */
.section3-container {
  background-color: #f4f4fd;
  width: 100%;
  height: 732px;
  margin: 0px;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0px;
  padding: 120px 0px 72px 0px;
}
.team-cards {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 380px;
  margin: 0;
  padding: 0px 156px 120px 156px;
}
.card {
  margin: 0;
  width: 288px;
  height: 380px;
}
.card-photo {
  margin: 0;
  width: 264px;
  height: 260px;
  background-color: white;
}
.card-label {
  margin: 0;
  width: 264px;
  height: 120px;
  background-color: white;
}
.card-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2e2f42;
  text-align: center;
  margin: 0;
  padding: 32px 0px 8px 0px;
  width: 264px;
}
.card-position {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
  text-align: center;
  margin: 0;
  width: 264px;
}
/* Footer */
footer{
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
  background-color: #2e2f42;
}
.footer-container {
  padding-left: 156px;
  padding-top: 100px;
  width: 264px;
  height: 84px;
}
.footer-text {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0px;
}
.footer-logo-style {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-color {
  color: #f4f4fd;
}
.footer-logo-container {
  margin: 0px;
}
